<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<!-- 검색 있는 게시글 목록 조회 -->
	<select id="selectDataListPage"
		resultType="java.util.HashMap"
		parameterType="springMVC.vo.BaseVO">
        SELECT bno,
        	   ID,
      		   name,
      		   grade,
      		   gender,
      		   titleKor,
      		   titleEng,
      		   contentKor,
      		   contentEng,
      		   phoneNum,
      	  	   birthDate,
      	  	   juminNo,
      	  	   registeredDate,
      	  	   changedDate
          FROM dbo.Data_T
         WHERE 1=1
         <include refid="search"></include>
         <include refid="mssqlPaging"></include>
	</select>
	
	<sql id="search">
      
      <choose>
         <!-- ########################################### keword 있음 ########################################### -->
         <when test="baseVO.keyword != null">
               <choose>
                <!-- searchType 전체 -->
            	<when test="baseVO.searchType == 'w'.toString()">
            	  <![CDATA[
               		OR ID like CONCAT('%', #{baseVO.keyword}, '%')
               		OR titleKor like CONCAT('%', #{baseVO.keyword}, '%')
               	  ]]>
            	</when>
                  <!-- 서치타입 t -->
                  <when test="baseVO.searchType == 't'.toString()">
                     AND titleKor like CONCAT('%', #{baseVO.keyword}, '%')
                  </when>
                  <!-- 서치타입 i -->
                  <when test="baseVO.searchType == 'i'.toString()">
                     AND ID like CONCAT('%', #{baseVO.keyword}, '%')
                  </when>
               </choose>
            <!-- 날짜 있으면 날짜 조건 추가 -->
            <if test="baseVO.startDate != null and baseVO.endDate != null">
              AND registeredDate BETWEEN CONVERT(DATE, #{baseVO.startDate}) AND CONVERT(DATE, #{baseVO.endDate})
            </if>
         </when>
         <!-- ########################################### keword 없음 ########################################### -->
         <when test="baseVO.keyword == null">
            <!-- 날짜 있으면 날짜 조건 추가 -->
            <if test="baseVO.startDate != null and baseVO.endDate != null">
               AND registeredDate BETWEEN CONVERT(DATE, #{baseVO.startDate}) AND CONVERT(DATE, #{baseVO.endDate})
            </if>
         </when>
         
      </choose>
   </sql>
	
	<!-- mssql 페이징 -->
	<sql id="mssqlPaging">
	<![CDATA[
	ORDER BY bno DESC
        OFFSET ((#{Criteria.page} - 1) * #{Criteria.perPageNum}) ROWS
    FETCH NEXT #{Criteria.perPageNum} ROWS ONLY
    ]]>
    </sql>
	
	<!-- mysql 페이징 -->
	<sql id="mysqlPaging">
	<![CDATA[
	ORDER BY bno DESC
       LIMIT #{Criteria.pageStart}, #{Criteria.perPageNum}
    ]]>
    </sql>
	
	<!-- 토탈카운트 -->
	<select id="getTotalCountMssql" resultType="int">
	<![CDATA[
	SELECT count(bno)
	  FROM dbo.Data_T
	]]>
	</select>
	
    
<!-- 	<sql id="search">
      <choose>
         ########################################### keword 있음 ###########################################
         <when test="BaseVO.keyword != null">
            <choose>
            searchType 있음
            <when test="BaseVO.searchType != null">
               <choose>
                  서치타입 t
                  <when test="BaseVO.searchType == 't'.toString()">
                     AND titleKor like CONCAT('%', #{BaseVO.keyword}, '%')
                  </when>
                  서치타입 i
                  <when test="BaseVO.searchType == 'i'.toString()">
                     AND ID like CONCAT('%', #{BaseVO.keyword}, '%')
                  </when>
               </choose>
            </when>
            searchType 없음
            <when test="BaseVO.searchType == null">
               OR ID like CONCAT('%', #{BaseVO.keyword}, '%')
               OR titleKor like CONCAT('%', #{BaseVO.keyword}, '%')
            </when>
            </choose>
            날짜 있으면 날짜 조건 추가
            <if test="BaseVO.startDate != null and BaseVO.endDate != null">
              AND registeredDate BETWEEN CONVERT(DATE, #{BaseVO.startDate}) AND CONVERT(DATE, #{BaseVO.endDate})
            </if>
         </when>
         ########################################### keword 없음 ###########################################
         <when test="BaseVO.keyword == null">
            날짜 있으면 날짜 조건 추가
            <if test="BaseVO.startDate != null and BaseVO.endDate != null">
               AND registeredDate BETWEEN CONVERT(DATE, #{BaseVO.startDate}) AND CONVERT(DATE, #{BaseVO.endDate})
            </if>
         </when>
      </choose>
   </sql> -->
	
	<!-- /게시글 목록 조회 -->

	<insert id="insertDataMssql" parameterType="springMVC.vo.BaseVO">
	<![CDATA[
        INSERT INTO dbo.Data_T (bno, ID, name, grade, gender, titleKor, titleEng, contentKor, contentEng, phoneNum, birthDate, juminNo, registeredDate)
        VALUES ((NEXT VALUE FOR dbo.bno),
            #{ID}, #{name}, #{grade}, #{gender}, #{titleKor}, #{titleEng}, #{contentKor}, #{contentEng}, #{phoneNum}, #{birthDate}, #{juminNo}, #{registeredDate})
        ]]>
	</insert>
	
	<select id="selectDataDetailMssql" resultType="springMVC.vo.BaseVO"
		parameterType="springMVC.vo.BaseVO">
	<![CDATA[
		SELECT *
		  FROM dbo.Data_T
		 WHERE bno = #{bno}
	]]>
	</select>
	
	<update id="updateDataMssql" parameterType="springMVC.vo.BaseVO">
	<![CDATA[
		UPDATE dbo.Data_T
		SET 
		   ID = #{ID}
		   , name = #{name}
		   , grade = #{grade}
		   , gender = #{gender}
		   , titleKor = #{titleKor}
		   , titleEng = #{titleEng}
		   , contentKor = #{contentKor}
		   , contentEng = #{contentEng}
		   , phoneNum = #{phoneNum}
		   , birthDate = #{birthDate}
		   , juminNo = #{juminNo}
		   , changedDate = #{changedDate}
		WHERE bno = #{bno}
	]]>
	</update>
	
	<delete id="deleteDataMssql" parameterType="springMVC.vo.BaseVO">
	<![CDATA[
		DELETE FROM dbo.Data_T
		 WHERE bno = #{bno}
	]]>
	</delete>	

</mapper>